.slider-menu {
  position: relative;

}


.menu {
  position: absolute;
  top: 0;
  left: -250px;
  width: 250px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  height: 100vh;
  z-index: 1000;
}



.menu.open {
  left: 0;
}

.menu a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
}

#BtnMenu {
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 50%;
  /* Hace que el botón sea redondo */
  padding: 8px;

  position: fixed;
  /* Fija la posición del botón */
  position: absolute;
  right: 5vw;
  top: 12px;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(168, 168, 168, 1);
  -moz-box-shadow: 0px 3px 8px 0px rgba(168, 168, 168, 1);
  box-shadow: 0px 3px 8px 0px rgba(168, 168, 168, 1);

}

#BtnMenu:hover {
  background-color: #f0f0f0;
}

#BtnMenu ion-icon {
  height: 23px;
  width: 23px;

}

.btnCerrar {
  font-size: 1.5rem;
  color: #77CAA2;
  background-color: #ffffff;
}

.submenu {
  margin: 3px;
  margin-top: 10px;
  padding: 4px;
  border-bottom: dotted 2px #77CAA2;
  font-weight: bolder;
  font-size: 0.9rem;
  cursor: pointer;

}

.submenu ion-icon {
  color: #77CAA2;
}