
<app-loader *ngIf="loader"></app-loader>

<div class="login-container">
  <div class="logo">
    <img src="assets/logoBlancoCamello.png" alt="Logo" />
  </div>
  <h2>BIENVENIDO</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="input-container">
      <label for="username">
        <ion-icon name="person-circle-outline"></ion-icon>
        <input
          type="email"
          id="username"
          placeholder="Correo"
          [(ngModel)]="username"
          name="username"
          required
        />
      </label>
    </div>
    <div class="input-container">
      <label for="password">
        <ion-icon name="lock-closed"></ion-icon>
        <input
          type="password"
          id="password"
          placeholder="Contraseña"
          [(ngModel)]="password"
          name="password"
          required
        />
      </label>
    </div>
    <button type="submit" class="login-button">Ingresar</button>
    <!-- <a href="#" class="forgot-password">¿Ha olvidado su contraseña?</a> -->
    <a routerLink="/registro" class="forgot-password">¿No tienes una cuenta? Registrate aquí</a>
  </form>
</div>
