/* General */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
  }
  
  /* Logo */
  .logo {
    background-color: #77CAA2;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .logo img {
    width: 60px;
  }
  
  /* Title */
  h2 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
  }
  
  /* Input Container */
  .input-container {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    overflow: visible;
  
  }
  
  .input-container ion-icon {
    position: absolute;
    top: 12px;
    left: 15px;
    color: #a2a2a2;
    font-size: 18px;
    
  }
  
  input {
    width: 100%;
    margin-left: 5px;
    padding: 10px 10px 10px 35px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #333;
    background-color: white;
    transition: all 0.5s;   
  }

  
  
  input::placeholder {
    color: #a2a2a2;
   
  }



  input:focus {

    -webkit-box-shadow: 3px 4px 4px 2px rgba(119, 202, 162, 0.814);
    -moz-box-shadow: 3px 4px 4px 2px rgba(119,202,162,0.814);
    box-shadow: 3px 4px 4px 2px rgba(119,202,162,0.814);
    color: #77CAA2;
  }

  .input-container:focus-within ion-icon {
    color: #77CAA2;
  }
  
  
  /* Button */
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #77CAA2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .login-button:hover {
    background-color: #0cad5f;
  }
  
  /* Forgot Password */
  .forgot-password {
    color: #77CAA2;
    font-size: 14px;
    margin-top: 15px;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }


  